.form-container {
  width: 600px;
  height: 200px;
  margin: 0 auto;
  background-color: white;
  margin-top: 100px;
  color: black;
  border-radius: 20px;
}

.form {
  padding-top: 40px;
  font-weight: 600;
}

.form div {
  padding: 3px;
}
